body{
    background-color: crimson;
    height: 100vh;
    color: #fff;
    font-size:40px;
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
    font-weight: 100;
}
input, textarea{

    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    background: transparent;
    width: 500px;
    padding: 0 20px;
    font-size: 30px;
    color: #fff;

}