*{
    padding: 0;
    margin: 0;
}
body{
    padding: 200px;
    border: 15px solid #fff;
    background-image:url('../uploads/originals/7e70bbc4f32e0a9a0bd57c3318f85399f5a1d4be552cdab2702fa.jpeg');
    background-size: cover;
}